@charset "UTF-8";

img{
    width: 200px;
    
}

a{
   display: inline-block;
   text-align: center;
}
a:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.252);
   
}

a:active{
    background-color: black;
}